<br>
<i class="fa-solid fa-arrow-left fa-xl" routerLink="/home" style="position: relative;left: 20px;cursor: pointer;"></i>
<div class="formbold-main-wrapper" 
*ngIf="userForm">
    <!-- Author: FormBold Team -->
    <!-- Learn More: https://formbold.com -->
    <div class="formbold-form-wrapper">
      
    
  
      <form [formGroup]="userForm" (ngSubmit)="modifier()">
        <div class="formbold-form-title">
          <h2 class="">Change Password</h2>
          
        </div>
  
        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label">
            Old Password
          </label>
          <input
            type="password"
            name="address"
            id="address"
            class="formbold-form-input"
            formControlName="oldPassword"
          />
          <div *ngIf="oldPassword?.hasError('required') && oldPassword?.touched" style="color: red;">
						Password is required.
					  </div>
					  <div *ngIf="oldPassword?.hasError('minlength') && !oldPassword?.hasError('required') && oldPassword?.touched" style="color: red;">
						Password must be at least 6 characters.
					  </div>
        </div>

        <div class="formbold-mb-3">
          <label for="address" class="formbold-form-label">
            New Password
          </label>
          <input
            type="password"
            name="address"
            id="address"
            class="formbold-form-input"
            formControlName="newPassword"
          />
          
          <div *ngIf="newPassword?.hasError('required') && newPassword?.touched" style="color: red;">
						Password is required.
					  </div>
					  <div *ngIf="newPassword?.hasError('minlength') && !newPassword?.hasError('required') && newPassword?.touched" style="color: red;">
						Password must be at least 6 characters.
					  </div>
        
          
          
          
        </div>

  
        
  
        <button class="formbold-btn" type="submit" [disabled]="userForm.invalid">Confirm</button>
      </form>
    </div>
  </div>
