<i class="fa-solid fa-arrow-left fa-xl" routerLink="/home" style="position: relative;left: 20px;cursor: pointer;"></i>
<div class="formbold-main-wrapper" style="padding-top: 0% !important;" *ngIf="userForm">
  <div class="formbold-form-wrapper">
    <form [formGroup]="userForm" (ngSubmit)="modifier()">
      <div class="formbold-form-title">
        <h2 style="text-align: center; padding-top: 20px;">Profile </h2>
      </div>

      <div>
        <label for="firstname" class="formbold-form-label">
          First name
        </label>
        <input
          type="text"
          name="firstname"
          id="firstname"
          class="formbold-form-input"
          formControlName="firstname"
        />
        <div *ngIf="firstname?.hasError('required') && firstname?.touched" style="color: red;">
          First Name is required.
          </div>
          <div *ngIf="firstname?.hasError('minlength') && !firstname?.hasError('required') && firstname?.touched" style="color: red;">
            First Name must be at least 3 characters.
          </div>
      </div>

      <div>
        <label for="lastname" class="formbold-form-label"> Last name </label>
        <input
          type="text"
          name="lastname"
          id="lastname"
          class="formbold-form-input"
          formControlName="lastname"
        />
        <div *ngIf="lastname?.hasError('required') && lastname?.touched" style="color: red;">
          Last Name is required.
          </div>
          <div *ngIf="lastname?.hasError('minlength') && !lastname?.hasError('required') && lastname?.touched" style="color: red;">
            Last Name must be at least 3 characters.
          </div>
      </div>

     

      <div>
        <label for="birthDate" class="formbold-form-label"> Birth Date </label>
        <input
          type="date"
          name="birthDate"
          id="birthDate"
          class="formbold-form-input"
          formControlName="birthDate"
        />
        <div *ngIf="birthDate?.hasError('required') && birthDate?.touched" style="color: red;">
          Birth date is required.
          </div>
        
      </div>

      <div>
        <label for="address" class="formbold-form-label"> Address </label>
        <input
          type="text"
          name="address"
          id="address"
          class="formbold-form-input"
          formControlName="adresse"
        />
        <div *ngIf="adresse?.hasError('required') && adresse?.touched" style="color: red;">
          Adress is required.
          </div>
          <div *ngIf="adresse?.hasError('minlength') && !adresse?.hasError('required') && adresse?.touched" style="color: red;">
            Adress must be at least 3 characters.
          </div>
      </div>

      <div>
        <label for="phoneNumber" class="formbold-form-label"> Phone Number </label>
        <input
          type="tel"
          name="phoneNumber"
          id="phoneNumber"
          class="formbold-form-input"
          formControlName="phoneNumber"
        />
        <div *ngIf="phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
          Phone number is required.
          </div>
          <div *ngIf="phoneNumber?.hasError('minlength') && !phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
            Phone number must be at least 8 characters.
          </div>
          <div *ngIf="phoneNumber?.hasError('maxlength') && !phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
            Phone number must be 8 characters max.
          </div>
          <div *ngIf="phoneNumber?.hasError('pattern') && !phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
            Phone number must be numeric.
          </div>
      </div>

      <div>
        <label for="sex" class="formbold-form-label"> Sex </label>
        <select name="sex" id="sex" class="formbold-form-input" formControlName="sex">
          <option value="male">Male</option>
          <option value="female">Female</option>
        </select>
        <div *ngIf="phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
           Sex is required.
          </div>
      </div>

      <div>
        <label for="university" class="formbold-form-label"> University </label>
        <input
          type="text"
          name="university"
          id="university"
          class="formbold-form-input"
          formControlName="university"
        />
        <div *ngIf="university?.hasError('required') && university?.touched" style="color: red;">
          University is required.
          </div>
          <div *ngIf="university?.hasError('minlength') && !university?.hasError('required') && university?.touched" style="color: red;">
            University must be at least 3 characters.
          </div>
      </div>

      <div>
        <label for="cin" class="formbold-form-label"> CIN </label>
        <input
          type="text"
          name="cin"
          id="cin"
          class="formbold-form-input"
          formControlName="cin"
        />
        <div *ngIf="cin?.hasError('required') && cin?.touched" style="color: red;">
          Cin is required.
          </div>
          <div *ngIf="cin?.hasError('minlength') && !cin?.hasError('required') && cin?.touched" style="color: red;">
            Cin must be at least 8 characters.
          </div>
          <div *ngIf="cin?.hasError('maxlength') && !cin?.hasError('required') && cin?.touched" style="color: red;">
            Cin must be 8 characters max.
          </div>
          <div *ngIf="cin?.hasError('pattern') && !cin?.hasError('required') && cin?.touched" style="color: red;">
            Cin must be numeric.
          </div>
      </div>

      <div class="formbold-mb-3">
        <label for="email" class="formbold-form-label">
          Email </label>
        <input
          type="text"
          name="email"
          id="email"
          formControlName="email"
          class="formbold-form-input"
        />
        <div *ngIf="email?.hasError('required') && email?.touched" style="color: red;">
          Email is required.
          </div>
          <div *ngIf="email?.hasError('pattern') && !email?.hasError('required') && email?.touched" style="color: red;">
          Please enter a valid email address.
          </div>
      </div>

      <div style="text-align: center!important;">
        <button class="formbold-btn" type="submit" [disabled]="userForm.invalid">Update</button>
      </div>
    </form>
  </div>
</div>
