<div class="container">
	<div class="screen">
		<div class="screen__content">
			
			<form class="login" [formGroup]="userForm" (ngSubmit)="register()">
				<h3 >Register</h3>
				<br>
				<div class="login__row">

				<div class="login__field">
					
					<input type="text" class="login__input" placeholder="FirstName" formControlName="firstname">
					<div *ngIf="firstname?.hasError('required') && firstname?.touched" style="color: red;">
						First Name is required.
						</div>
						<div *ngIf="firstname?.hasError('minlength') && !firstname?.hasError('required') && firstname?.touched" style="color: red;">
						  First Name must be at least 3 characters.
						</div>
				</div>
				<div class="login__field">
					
					<input type="text" class="login__input" placeholder="Lastname" formControlName="lastname">
					<div *ngIf="lastname?.hasError('required') && lastname?.touched" style="color: red;">
						Last Name is required.
						</div>
						<div *ngIf="lastname?.hasError('minlength') && !lastname?.hasError('required') && lastname?.touched" style="color: red;">
						  Last Name must be at least 3 characters.
						</div>
				</div>
			</div>
			<div class="login__row">
                <div class="login__field">
					
					<input type="text" class="login__input" placeholder="Email" formControlName="email">
					<div *ngIf="email?.hasError('required') && email?.touched" style="color: red;">
						Email is required.
					  </div>
					  <div *ngIf="email?.hasError('pattern') && !email?.hasError('required') && email?.touched" style="color: red;">
						Please enter a valid email address.
					  </div>
				</div>
                <div class="login__field">
				
					<input type="password" class="login__input" placeholder="Password" formControlName="password">
					<div *ngIf="password?.hasError('required') && password?.touched" style="color: red;">
						Password is required.
					  </div>
					  <div *ngIf="password?.hasError('minlength') && !password?.hasError('required') && password?.touched" style="color: red;">
						Password must be at least 6 characters.
					  </div>
				</div>
			</div>
			<div class="login__row">
                <div class="login__field">
					
					<input type="date" class="login__input" placeholder="Lastname" formControlName="birthDate">
					<div *ngIf="birthDate?.hasError('required') && birthDate?.touched" style="color: red;">
						birthDate is required.
					  </div>
				</div>
                <div class="login__field">
					
					<input type="text" class="login__input" placeholder="Adresse" formControlName="adresse">
					<div *ngIf="adresse?.hasError('required') && adresse?.touched" style="color: red;">
						Adress is required.
						</div>
						<div *ngIf="adresse?.hasError('minlength') && !adresse?.hasError('required') && adresse?.touched" style="color: red;">
						  Adress must be at least 3 characters.
						</div>
				</div>
				</div>
				<div class="login__row">
					<div class="login__field">
						
						<select name="sex" id="sex" class="login__select" formControlName="sex">
						  <option value="male" selected>Male</option>
						  <option value="female">Female</option>
						</select>

					  </div>
					  <div *ngIf="sex?.hasError('required') && sex?.touched" style="color: red;">
						sex is required.
					  </div>
                <div class="login__field">
					
					<input type="text" class="login__input" placeholder="University" formControlName="university">
					<div *ngIf="university?.hasError('required') && university?.touched" style="color: red;">
						University is required.
						</div>
						<div *ngIf="university?.hasError('minlength') && !university?.hasError('required') && university?.touched" style="color: red;">
						  University must be at least 3 characters.
						</div>
				</div>
				</div>
				<div class="login__row">
                <div class="login__field">
				
					<input type="text" class="login__input" placeholder="Cin" formControlName="cin">
					<div *ngIf="cin?.hasError('required') && cin?.touched" style="color: red;">
						Cin is required.
						</div>
						<div *ngIf="cin?.hasError('minlength') && !cin?.hasError('required') && cin?.touched" style="color: red;">
						  Cin must be at least 8 characters.
						</div>
						<div *ngIf="cin?.hasError('maxlength') && !cin?.hasError('required') && cin?.touched" style="color: red;">
						  Cin must be 8 characters max.
						</div>
						<div *ngIf="cin?.hasError('pattern') && !cin?.hasError('required') && cin?.touched" style="color: red;">
						  Cin must be numeric.
						</div>
				</div>
                
                

                <div class="login__field">
				
					<input type="text" class="login__input" placeholder="Phone number" formControlName="phoneNumber">
					<div *ngIf="phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
						Phone number is required.
						</div>
						<div *ngIf="phoneNumber?.hasError('minlength') && !phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
						  Phone number must be at least 8 characters.
						</div>
						<div *ngIf="phoneNumber?.hasError('maxlength') && !phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
						  Phone number must be 8 characters max.
						</div>
						<div *ngIf="phoneNumber?.hasError('pattern') && !phoneNumber?.hasError('required') && phoneNumber?.touched" style="color: red;">
						  Phone number must be numeric.
						</div>
				</div>
				
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Register Now</span>
				
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>