<div class="container">
	<div class="screen">
		<div class="screen__content">
			
			<form class="login" [formGroup]="userForm" (ngSubmit)="register()">
				<h3 >Register</h3>
				<br>
				<div class="login__row">

				<div class="login__field">
					
					<input type="text" class="login__input" placeholder="FirstName" formControlName="firstname">
				</div>
				<div class="login__field">
					
					<input type="text" class="login__input" placeholder="Lastname" formControlName="lastname">
				</div>
			</div>
			<div class="login__row">
                <div class="login__field">
					
					<input type="text" class="login__input" placeholder="Email" formControlName="email">
				</div>
                <div class="login__field">
				
					<input type="password" class="login__input" placeholder="Password" formControlName="password">
				</div>
			</div>
			<div class="login__row">
                <div class="login__field">
					
					<input type="date" class="login__input" placeholder="Lastname" formControlName="birthDate">
				</div>
                <div class="login__field">
					
					<input type="text" class="login__input" placeholder="Adresse" formControlName="adresse">
				</div>
				</div>
				<div class="login__row">
					<div class="login__field">
						
						<select name="sex" id="sex" class="login__select" formControlName="sex">
						  <option value="male" selected>Male</option>
						  <option value="female">Female</option>
						</select>
					  </div>
                <div class="login__field">
					
					<input type="text" class="login__input" placeholder="University" formControlName="university">
				</div>
				</div>
				<div class="login__row">
                <div class="login__field">
				
					<input type="text" class="login__input" placeholder="Cin" formControlName="cin">
				</div>
                
                

                <div class="login__field">
				
					<input type="text" class="login__input" placeholder="Phone number" formControlName="phoneNumber">
				</div>
				</div>
				<button class="button login__submit" type="submit">
					<span class="button__text">Register Now</span>
				
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>