<!-- user-table.component.html -->
<table class="table" style="margin: 50px; width: 90%;">
    <thead>
      <tr>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Birth Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.firstname }}</td>
        <td>{{ user.lastname }}</td>
        <td>{{user.email}}</td>
        <td>{{user.birthDate | date}}</td>
        <td>
          <button class="btn btn-sm btn-danger" (click)="delete(user._id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  