th{text-align: center;
color:#38598b;
font-weight: bold;

}
table{
    border-radius: 5px;
    border-color: black;
    border-collapse: collapse;
    background-color: #e7eaf6;
    width: 90%; 
    margin: 50px;
      color: rgb(0, 0, 0);
      border-radius: 20px; 
        text-align: center;
}
td{
    font-weight: bold;
}

h3{
    text-align: center;
    color: #38598b;
    font-weight: bold;
    margin-top: 50px;
}