<header>
    <!-- TOP HEADER -->
    <div id="top-header">
        <div class="container">
            <ul class="header-links pull-left">
                <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                <li><a href="#"><i class="fa fa-envelope-o"></i> email@email.com</a></li>
                <li><a href="#"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</a></li>
            </ul>
            <ul class="header-links pull-right">
               
                
                <li><div class="dropdown" *ngIf="isUserConnected">
                   
                   <span data-bs-toggle="dropdown" class="accoount"> <i class="fa fa-user-o"></i> My Account</span>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" style="color: black;" routerLink="/profile">Profile</a></li>
                      <li><a class="dropdown-item" style="color: black;" routerLink="/changepass">Change password</a></li>
                      <li><a class="dropdown-item" style="color: black;" (click)="logout()">Logout</a></li>
                    </ul>
                  </div>
                  <span *ngIf="!isUserConnected"  class="accoount" routerLink="/login" > <i class="fa fa-user-o"></i> Login</span>
                </li>
            </ul>
        </div>
    </div>
    <!-- /TOP HEADER -->

    <!-- MAIN HEADER -->
    
    <!-- /MAIN HEADER -->
</header>
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li ><a routerLink="/books" routerLinkActive="active">Home</a></li>
                <li><a routerLink="/favorite" routerLinkActive="active">Favorites</a></li>
                <li><a href="#">My loans</a></li>
                
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>