<!-- book-table.component.html -->
<h3>Books list</h3>

<table class="table"  >
  <thead>
    <tr>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Type</th>
      <th scope="col">Author</th>
      <th scope="col">Release Date</th>
      <!-- Add other columns for image, description, quantity, etc. -->
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>
        <img [src]="book.image" alt="" height="100px"  width="70px" style="vertical-align: middle;">
      </td>
      <td>{{ book.name }}</td>
      <td>{{ book.type }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.releaseDate | date }}</td>
      <td>
        <i  [routerLink]="['/adminDash/booksList/',book._id]" class="fa-solid fa-pen"></i>
        <i class="fa-solid fa-trash" (click)="delete(book._id)" style="margin-left: 10px;  color: #d00000;"></i>
        
      </td>
    </tr>
  </tbody>
</table>
