<!-- book-modify-form.component.html -->
<h3>Edit {{currentBook.name}}</h3>
<div style="display: flex; justify-content: center; align-items: center; ">
  <form [formGroup]="bookForm" (ngSubmit)="onSubmit()" style="width: 600px; display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
    <div>
      <div class="mb-3">
        <label for="name" class="form-label">Name:</label>
        <input type="text" class="form-control" id="name" formControlName="name">
      </div>

      <div class="mb-3">
        <label for="type" class="form-label">Type:</label>
        <input type="text" class="form-control" id="type" formControlName="type">
      </div>

      <div class="mb-3">
        <label for="author" class="form-label">Author:</label>
        <input type="text" class="form-control" id="author" formControlName="author">
      </div>
    </div>

    <div>
      <div class="mb-3">
        <label for="releaseDate" class="form-label">Release Date:</label>
        <input type="date" class="form-control" id="releaseDate" formControlName="releaseDate">
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Image URL:</label>
        <input type="text" class="form-control" id="image" formControlName="image">
      </div>
      
      <div class="mb-3">
        <label for="quantity" class="form-label">Quantity:</label>
        <input type="number" class="form-control" id="quantity" formControlName="quantity">
      </div>
    </div>

    <div style="grid-column: span 2;">
      <div class="mb-6">
        <label for="description" class="form-label" >Description:</label>
        <textarea class="form-control"style=" height:100px" id="description" formControlName="description"></textarea>
      </div>

      <button type="submit" class="btn btn-primary" 
      style="margin-top:20px; width: 100%; background-color: #a2a8d3; color: black; border-color: transparent;">
      
    <b>Submit</b>
    </button>
    </div>
  </form>
</div>
