<div class="container">
	<div class="screen">
		<div class="screen__content">
			
			<form class="login" [formGroup]="userForm" (ngSubmit)="login()">
				<h3>Login
				</h3>
				<div class="login__field">
					
					<input type="text" class="login__input" placeholder="Email" formControlName="email">
					<div *ngIf="email?.hasError('required') && email?.touched" style="color: red;">
						Email is required.
					  </div>
					  <div *ngIf="email?.hasError('pattern') && !email?.hasError('required') && email?.touched" style="color: red;">
						Please enter a valid email address.
					  </div>
				</div>
				<div class="login__field">
					
					<input type="password" class="login__input" placeholder="Password" formControlName="password">
					<div *ngIf="password?.hasError('required') && password?.touched" style="color: red;">
						Password is required.
					  </div>
					  <div *ngIf="password?.hasError('minlength') && !password?.hasError('required') && password?.touched" style="color: red;">
						Password must be at least 6 characters.
					  </div>
				</div>
				<a routerLink="/register">Register</a>
				<button class="button login__submit" type="submit" [disabled]="userForm.invalid">
					<span class="button__text">Log In Now</span>
					
				</button>				
			</form>
			
		</div>
		<div class="screen__background">
			<span class="screen__background__shape screen__background__shape4"></span>
			<span class="screen__background__shape screen__background__shape3"></span>		
			<span class="screen__background__shape screen__background__shape2"></span>
			<span class="screen__background__shape screen__background__shape1"></span>
		</div>		
	</div>
</div>