<header>
    <!-- TOP HEADER -->


</header>
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li ><a routerLink="/adminDash/users" routerLinkActive="active">Users</a></li>
                <li><a routerLink="/adminDash/booksList" routerLinkActive="active">Books</a></li>
                <li><a routerLink="/adminDash/addBook" routerLinkActive="active">Add Book</a></li>

                <li style="float: right !important; " (click)="logout()"> <a>Logout</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<router-outlet></router-outlet>